In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns  # 数据展示库
from IPython import display  # 数据展示库
display.set_matplotlib_formats('svg')
# import matplotlib_inline
# matplotlib_inline.backend_inline.set_matplotlib_formats('svg')

In [7]:
def read_data(it):
    filename = '/home/hallo/下载/GraphSummarization/result/20211212/superNode_'+str(it)+'.csv'
    content = pd.read_csv(filename)
    return content

In [8]:
data = read_data(1)
data[data['superNode_id'] != data['node_id']]
# type(data)

        node_id  superNode_id
316         316           313
319         319           318
325         325           324
331         331           329
334         334           333
...         ...           ...
325540   325540        325534
325541   325541        325534
325542   325542        325534
325544   325544        325534
325552   325552        325550

[116620 rows x 2 columns]

In [15]:
def analysis_groups(it):
    filename = '/home/hallo/下载/GraphSummarization/result/20211213/groups_'+str(it)+'.csv'
    content = pd.read_csv(filename)
    print(content[content['new_group']==1])

In [16]:
analysis_groups(2)

        node  new_group
1084  110462          1
1085  110465          1
1132  110549          1